@model CreateVM

<h3>Create new user</h3>

<br />
<form asp-action="Create" asp-controller="Home">
    <label asp-for="UserName"></label>
    <br />
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br />
    <label asp-for="Password"></label>
    <br />
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <br />
    <input type="submit" value="Create" />
</form>