@model LoginVM

<h3>Logga in!</h3>
<br />
<form asp-action="Index" asp-controller="Home">
    <label asp-for="UserName"></label>
    <br />
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br />
    <label asp-for="Password"></label>
    <br />
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <br />
    <input type="submit" value="Login" />
</form>
<br />
<a href="~/Create">Create New User</a>