@model LoginVM

<div class="login">
	<h3>Logga in!</h3>
	<br />
	<div class="form-group">
		<form asp-action="Index" asp-controller="Home" method="post">
			<div class="inputbox">
				<label asp-for="UserName"></label>
				<input asp-for="UserName" class="form-control" />
				<span asp-validation-for="UserName"></span>
			</div>
			
			<div class="inputbox">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password"></span>
			</div>

			<br />
			<input type="submit" value="Login" class="btn submitBtn" />
		</form>
		<br />
		<a asp-controller="Home" asp-action="Create">Create New User</a>
	</div>


</div>
