@model LobbyVM


<div class="content">
	<div id="mainDiv">
		<div id="startDiv">
			Start Div med knapp och regler
			<input type="button" value="Start New Game" id="startGame" />
		</div>
		<div id="waitingForPlayers">Waiting for players...</div>
		<div id="gameDiv">Här spelas spelet</div>
	</div>

	<div id="playerList">List of players</div>
	<div class="clear-fix"></div>
	<br />
	<div id="chatDiv">
<textarea id="txtChat" rows="5" cols="190" readonly>
</textarea>
		<br />
		<input id="txtMessage" type="text" size="182" />
		<input id="btnSend" type="button" value="send" size="8" />
	</div>
</div>






@section scriptsSection
	{
	<script src="~/Scripts/signalr-client-1.0.0-alpha2-final.min.js"></script>
	@*<script src="~/js/signalr-client-1.0.0-alpha1-final.js"></script> <!-- SignalR-->*@
	<script>

			$("#waitingForPlayers").hide();
			$("#gameDiv").hide();

			$("#startGame").click(function () {
				$("#startDiv").hide();
				$("#waitingForPlayers").show();
			});

		let connection = new signalR.HubConnection('/chat');
		connection.start();

		var userName = "@Model.UserName.ToString()";

		connection.on('onSend', data => {
			$("#txtChat").append(data + "\n");
			scrollToBottom();
		});

		$("#btnSend").click(() => {
			let message = userName + ": " + $("#txtMessage").val();
			connection.invoke('Send', message);
			$("#txtMessage").val("");
			});

			//$("#txtChat").change(function () {
			//	scrollToBottom();
			//});

			function scrollToBottom() {
				$('#txtChat').scrollTop($('#txtChat')[0].scrollHeight);
			}
	</script>
}
