body {
  background-color: #F5F6D4;
  color: #493F0B;
  font-family: 'Corbel'; }

a {
  color: #493F0B;
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: none; }

h1, h2, h3 {
  color: #493F0B;
  font-family: 'Comic Sans MS'; }

.loginspacer {
  width: 33%; }

.login {
  background-color: #CDE855;
  width: 300px;
  height: 300px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  border-color: #493F0B;
  border: 2px solid;
  margin-top: 50px; }

.create {
  background-color: #CDE855;
  width: 300px;
  height: 400px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  border-color: #493F0B;
  border: 2px solid;
  margin-top: 50px; }

.content {
  background-color: #CDE855;
  width: 80%;
  /*height: 80%;*/
  margin: auto;
  text-align: left;
  border-radius: 10px;
  border-color: #493F0B;
  border: 2px solid;
  margin-top: 50px;
  padding: 3%; }

.inputbox {
  width: 50%;
  margin: auto; }

.clear-fix {
  clear: both; }

div.left {
  /*background-color: red;
	border: 2px solid red;*/
  float: left;
  width: 48%;
  margin-left: 0%; }

div.right {
  /*background-color: blue;
	border: 2px solid red;*/
  float: right;
  width: 48%;
  margin-right: 0%; }

div.loggo {
  position: absolute;
  top: 2px;
  left: 2px; }
