$primary-bg: #F5F6D4;
$secondary-bg: #CDE855;
$primary-header: #493F0B;
$text-color: #493F0B;
$contrast: #85DB18;
$backup: #A7C520;
$header-font: 'Audiowide', cursive;
$text-font: 'Roboto', sans-serif;

body {
	background-color: $primary-bg;
	color: $text-color;
	font-family: $text-font;
}

a {
	color: $text-color;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

h1, h2, h3, h4 {
	color: $primary-header;
	font-family: $header-font;
}

.loginspacer {
	width: 33%;
}

.logo {
	width: 100px;
	margin-top: 5px;
	padding-right: 10px;
}

.login {
	background-color: $secondary-bg;
	width: 300px;
	height: 300px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	border-color: $primary-header;
	border: 2px solid;
	margin-top: 90px;
}

.create {
	background-color: $secondary-bg;
	width: 300px;
	height: 400px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	border-color: $primary-header;
	border: 2px solid;
	margin-top: 90px;
}

.content {
	background-color: $secondary-bg;
	width: 80%;
	height: 80%;
	margin: auto;
	text-align: left;
	border-radius: 10px;
	border-color: $primary-header;
	border: 2px solid;
	margin-top: 85px;
	margin-bottom: 5px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top:10px;
	padding-bottom:10px;
}

.inputbox {
	width: 50%;
	margin: auto;
}

.clear-fix {
	clear: both;
}

div.left {
	/*background-color: $primary-bg;
	border: 2px solid $primary-header;
	border-radius:5px;*/
	float: left;
	width: 38%;
	margin-left: 1%;
	padding: 0px;
}


div#recentGames {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	border-radius: 5px;
	padding: 10px;
}

div.right {

	float: right;
	width: 58%;
	margin-right: 1%;
	padding: 0px;

}

div.loggo {
	position: absolute;
	top: 2px;
	left: 2px;
}

#mainDiv {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	float: left;
	width: 68%;
	height: 380px;
	margin-left: 0%;
	padding: 10px;
	border-radius: 5px;
}

#playerList {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	float: right;
	width: 28%;
	height: 380px;
	margin-right: 0%;
	padding: 10px;
	border-radius: 5px;
}

#chatDiv {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
}

body {
	padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}

span.box {
	display: block;
	border: 2px solid black;
	height: 50px;
	width: 50px;
	float: left;
	margin: 5px;
}

#txtChat {
	width: 100%;
	height: 120px;
	border-radius: 3px;
	box-shadow: none;
}

#txtMessage {
	width: 85%;
	height: 30px;
	border-radius:3px;
	box-shadow:none;
	width:100%;
}

div#chatMessDiv {
	float: left;
	margin-left:0;
	width:90%;
}

div#chatBtnDiv {
	float: right;
	margin-right:0;
	width:10%;
	padding-left:5px;
}

#btnSend {
	background-color: $backup;
	border-color: $primary-header;
	color: $primary-header;
	font-weight: 700;
	font-family: 'Audiowide', cursive;
	width:100%;
	height:30px;
	text-align:center;
	padding:0;
}

.notAvailable {
	background: center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}

.findPlayerBtn {
	background-color: $backup;
	border-color: $primary-header;
	color: $primary-header;
	font-weight: 700;
	font-family: 'Audiowide', cursive;
}

.submitBtn {
	background-color: $backup;
	border-color: $primary-header;
	color: $primary-header;
	font-weight: 700;
	font-family: 'Audiowide', cursive;
}

#gameSnake {
    width :100%;
    height:100%;
}


span.marker {
	text-align: center;
    /*border-radius:5px;*/
}

#divInfo{
    margin-left:5%;
    width:80%;

}

#divGameInfo {
    margin-left: 5%;
    width: 80%;
}

.tempNotAvailable {
	background-color: gray;
}

.mathNotAvailable {
	background-color: gray;
}

table.ranking {
	tr:nth-child(even) {
		background-color: darken($primary-bg, 10%)
	}
}

.rankingDiv {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	/*margin-left: 0%;*/
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.date {
	float:right;
	margin-right:0;
	font-weight:bold;
	text-align: right;
}

.author {
	float:left;
	margin-left: 0;
	font-weight: bold;
	text-align:left;
}

.newsStory {
	clear: both;
}

.news {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	border-radius:5px;
	padding: 10px;
	margin-top:0;
}

#logoBig {
	padding: 10px;
}