$primary-bg: #F5F6D4;
$secondary-bg: #CDE855;
$primary-header: #493F0B;
$text-color: #493F0B;
$contrast: #85DB18;
$backup: #A7C520;

body {
	background-color: $primary-bg;
	color: $text-color;
	font-family: 'Corbel';
}

a {
	color: $text-color;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

h1, h2, h3 {
	color: $primary-header;
	font-family: 'Audiowide', cursive;
}

.loginspacer {
	width: 33%;
}

.login {
	background-color: $secondary-bg;
	width: 300px;
	height: 300px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	border-color: $primary-header;
	border: 2px solid;
	margin-top: 50px;
}

.create {
	background-color: $secondary-bg;
	width: 300px;
	height: 400px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	border-color: $primary-header;
	border: 2px solid;
	margin-top: 50px;
}

.content {
	background-color: $secondary-bg;
	width: 80%;
	height: 80%;
	margin: auto;
	text-align: left;
	border-radius: 10px;
	border-color: $primary-header;
	border: 2px solid;
	margin-top: 50px;
	margin-bottom: 25px;
	padding: 3%;
}

.inputbox {
	width: 50%;
	margin: auto;
}

.clear-fix {
	clear: both;
}

div.left {
	/*background-color: red;
	border: 2px solid red;*/
	float: left;
	width: 48%;
	margin-left: 0%;
}

div.right {
	/*background-color: blue;
	border: 2px solid red;*/
	float: right;
	width: 48%;
	margin-right: 0%;
}

div.loggo {
	position: absolute;
	top: 2px;
	left: 2px;
}

#mainDiv {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	float: left;
	width: 68%;
	height: 400px;
	margin-left: 0%;
	padding: 10px;
	border-radius: 5px;
}

#playerList {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	float: right;
	width: 28%;
	height: 400px;
	margin-right: 0%;
	padding: 10px;
	border-radius: 5px;
}

#chatDiv {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
}