$primary-bg: #F5F6D4;
$secondary-bg: #CDE855;
$primary-header: #493F0B;
$text-color: #493F0B;
$contrast: #85DB18;
$backup: #A7C520;

body {
	background-color: $primary-bg;
	color: $text-color;
	font-family: 'Corbel';
}

a {
	color: $text-color;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

h1, h2, h3 {
	color: $primary-header;
	font-family: 'Audiowide', cursive;
}

.loginspacer {
	width: 33%;
}

.login {
	background-color: $secondary-bg;
	width: 300px;
	height: 300px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	border-color: $primary-header;
	border: 2px solid;
	margin-top: 50px;
}

.create {
	background-color: $secondary-bg;
	width: 300px;
	height: 400px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	border-color: $primary-header;
	border: 2px solid;
	margin-top: 50px;
}

.content {
	background-color: $secondary-bg;
	width: 80%;
	height: 80%;
	margin: auto;
	text-align: left;
	border-radius: 10px;
	border-color: $primary-header;
	border: 2px solid;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 1%;
}

.inputbox {
	width: 50%;
	margin: auto;
}

.clear-fix {
	clear: both;
}

div.left {
	/*background-color: red;
	border: 2px solid red;*/
	float: left;
	width: 48%;
	margin-left: 0%;
}

div.right {
	/*background-color: blue;
	border: 2px solid red;*/
	float: right;
	width: 48%;
	margin-right: 0%;
}

div.loggo {
	position: absolute;
	top: 2px;
	left: 2px;
}

#mainDiv {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	float: left;
	width: 68%;
	height: 380px;
	margin-left: 0%;
	padding: 10px;
	border-radius: 5px;
}

#playerList {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	float: right;
	width: 28%;
	height: 380px;
	margin-right: 0%;
	padding: 10px;
	border-radius: 5px;
}

#chatDiv {
	background-color: $primary-bg;
	border: 2px solid $primary-header;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
}

body {
	padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}

span.box {
	display: block;
	border: 2px solid black;
	height: 50px;
	width: 50px;
	float: left;
	margin: 5px;
}

#txtChat {
	width: 100%;
	height: 120px;
	border-radius: 3px;
	box-shadow: none;
}

#txtMessage {
	width: 89%;
	height: 25px;
	border-radius:3px;
	box-shadow:none;
}

.notAvailable {
	background: center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}

.findPlayerBtn {
	background-color: $backup;
	border-color: $primary-header;
	color: $primary-header;
	font-weight: 700;
}

.submitBtn {
	background-color: $backup;
	border-color: $primary-header;
	color: $primary-header;
	font-weight: 700;
}

#gameSnake {
    width :100%;
    height:100%;
}