body {
  background-color: #F5F6D4;
  color: #493F0B;
  font-family: corbel; }

a {
  color: #493F0B;
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: none; }

h1, h2, h3, h4 {
  color: #493F0B;
  font-family: "Audiowide", cursive; }

.loginspacer {
  width: 33%; }

.logo {
  width: 100px;
  margin-top: 5px;
  padding-right: 10px; }

.login {
  background-color: #CDE855;
  width: 300px;
  height: 300px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  border-color: #493F0B;
  border: 2px solid;
  margin-top: 90px; }

.create {
  background-color: #CDE855;
  width: 300px;
  height: 400px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  border-color: #493F0B;
  border: 2px solid;
  margin-top: 90px; }

.content {
  background-color: #CDE855;
  width: 80%;
  height: 80%;
  margin: auto;
  text-align: left;
  border-radius: 10px;
  border-color: #493F0B;
  border: 2px solid;
  margin-top: 85px;
  margin-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 10px;
  padding-bottom: 10px; }

.inputbox {
  width: 50%;
  margin: auto; }

.clear-fix {
  clear: both; }

div.left {
  /*background-color: $primary-bg;
	border: 2px solid $primary-header;
	border-radius:5px;*/
  float: left;
  width: 48%;
  margin-left: 1%;
  padding: 10px; }

div.right {
  background-color: #F5F6D4;
  border: 2px solid #493F0B;
  border-radius: 5px;
  float: right;
  width: 48%;
  margin-right: 1%;
  padding: 10px; }

div.loggo {
  position: absolute;
  top: 2px;
  left: 2px; }

#mainDiv {
  background-color: #F5F6D4;
  border: 2px solid #493F0B;
  float: left;
  width: 68%;
  height: 380px;
  margin-left: 0%;
  padding: 10px;
  border-radius: 5px; }

#playerList {
  background-color: #F5F6D4;
  border: 2px solid #493F0B;
  float: right;
  width: 28%;
  height: 380px;
  margin-right: 0%;
  padding: 10px;
  border-radius: 5px; }

#chatDiv {
  background-color: #F5F6D4;
  border: 2px solid #493F0B;
  margin: auto;
  padding: 10px;
  border-radius: 5px; }

body {
  padding-bottom: 20px; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* QR code generator */
#qrCode {
  margin: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }

span.box {
  display: block;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  float: left;
  margin: 5px; }

#txtChat {
  width: 100%;
  height: 120px;
  border-radius: 3px;
  box-shadow: none; }

#txtMessage {
  width: 89%;
  height: 25px;
  border-radius: 3px;
  box-shadow: none; }

.notAvailable {
  background: center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px; }

.findPlayerBtn {
  background-color: #A7C520;
  border-color: #493F0B;
  color: #493F0B;
  font-weight: 700;
  font-family: 'Audiowide', cursive; }

.submitBtn {
  background-color: #A7C520;
  border-color: #493F0B;
  color: #493F0B;
  font-weight: 700;
  font-family: 'Audiowide', cursive; }

#gameSnake {
  width: 100%;
  height: 100%; }

span.marker {
  text-align: center;
  /*border-radius:5px;*/ }

#divInfo {
  margin-left: 5%;
  width: 80%;
  margin-top: 0px; }

#divGameInfo {
  margin-left: 5%;
  width: 80%;
  margin-bottom: 0px; }

.tempNotAvailable {
  background-color: gray; }

.mathNotAvailable {
  background-color: gray; }

table.ranking {
  /*border: none; //1px solid beige;
	border-collapse: collapse;
	text-align: center;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 14px;
	text-align: left;
	color: #2F343B;*/ }
  table.ranking td {
    /*padding-left: 4px;
		padding-right: 4px;*/ }
  table.ranking tr:nth-child(even) {
    background-color: #ebedaa; }

.rankingDiv {
  background-color: #F5F6D4;
  border: 2px solid #493F0B;
  /*margin-left: 0%;*/
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px; }

.date {
  float: right;
  margin-right: 0;
  font-weight: bold;
  text-align: right; }

.author {
  float: left;
  margin-left: 0;
  font-weight: bold;
  text-align: left; }

.newsStory {
  clear: both; }

.news {
  background-color: #F5F6D4;
  border: 2px solid #493F0B;
  border-radius: 5px;
  padding: 10px; }
