<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="~/Scripts/Style.css" rel="stylesheet" />
	<link href="~/Scripts/Bootstrap_Style.css" rel="stylesheet" />
	@*<link href="~/Scripts/custom_bootstrap.css" rel="stylesheet" />*@

	<!-- jQuery library -->
	@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="icon" href="~/Images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon" />
	<meta http-equiv="Cache-control" content="no-cache" />

</head>
<body>
	<div class="Nav">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="~/Images/prototype_log4_white_smaller.png" width="100" class="logo"/>
				</div>
				@*<ul class="nav navbar-nav">
						<li><a href="/Home">Home</a></li>
						<li><a href="/Lobby">Games</a></li>
						<li><a href="#">Friends</a></li>
						<li><a href="#">Rankings</a></li>
					</ul>*@
				<ul class="nav navbar-nav">
					<li><a href="/Home">Home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Games
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/TicLobby">Tic-Tac-Toe</a></li>
							<li><a href="/MathLobby">MathGame</a></li>
							<li><a href="/MemoryLobby">Colour Memory</a></li>
						</ul>
					</li>

					@*<li><a href="#">Friends</a></li>*@
					<li><a href="/Ranking">Rankings</a></li>
				</ul>
			</div>
		</nav>

	</div>
	<div class="Body">
		@RenderBody()
	</div>


	@*<script src="~/js/signalr-clientES5-1.0.0-alpha1-final.js"></script>*@
	<script src="~/js/signalr-client-1.0.0-alpha2-final.js"></script>
	<script src="~/js/signalr-msgpackprotocol-1.0.0-alpha1-final.js"></script>

	@RenderSection("scriptsSection", false)
</body>
</html>
